In [154]:
import pandas as pd

In [178]:
# load data
player_data = "../data/processed/player_data.csv"
team_data = "../data/processed/team_data.csv"
referee_data = "../data/processed/officiating.csv"

def load_data(team_loc, player_loc, referee_loc):
    
    return pd.read_csv(team_loc), pd.read_csv(player_loc), pd.read_csv(referee_loc)

team_df, player_df, ref_df = load_data(team_loc=team_data, player_loc=player_data, referee_loc=referee_data)

In [46]:
NBA_TEAMS = list(set(list(team_df["teamName"])))

In [147]:
ROOT_DATA_DIR = "../data/insights"

### Team Data
This data shows each individual team from each individual game in the 2022-2023 season, and tracks the calls from the L2M report. 
> `teamName` is the team that benefits from "callsReceived" or "errorsInFavor" for a given row.

In [3]:
team_df

,Unnamed: 0,teamName,opponent,game,gameId,gameDate,pointsScored,pointsAllowed,outcome,callsReceived,errorsInFavor,posessionsInFavor
0,0,76ers,Nuggets,76ers vs Nuggets,22200741,"January 28, 2023",126,119,WON,1,1,0
1,1,Nuggets,76ers,Nuggets @ 76ers,22200741,"January 28, 2023",119,126,LOSS,0,0,0
2,2,Pistons,Rockets,Pistons vs Rockets,22200743,"January 28, 2023",114,117,LOSS,4,0,0
3,3,Rockets,Pistons,Rockets @ Pistons,22200743,"January 28, 2023",117,114,WON,0,0,0
4,4,Spurs,Suns,Spurs vs Suns,22200748,"January 28, 2023",118,128,LOSS,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
549,549,Thunder,Timberwolves,Thunder @ Timberwolves,22200010,"October 19, 2022",108,115,LOSS,0,1,0
550,550,Suns,Mavericks,Suns vs Mavericks,22200013,"October 19, 2022",107,105,WON,2,0,0
551,551,Mavericks,Suns,Mavericks @ Suns,22200013,"October 19, 2022",105,107,LOSS,0,1,0
552,552,Kings,Trail Blazers,Kings vs Trail Blazers,22200014,"October 19, 2022",108,115,LOSS,7,1,0
553,553,Trail Blazers,Kings,Trail Blazers @ Kings,22200014,"October 19, 2022",115,108,WON,0,0,0

### Player Data
This data is a scrape of each individual L2M report, tracking the specific call, decision and players involved in the last two minutes of NBA games. 
> `disadvantagedPlayer` is not always a "victim". In the case of an `Incorrect Call` the committingPlayer is disadvantaged

In [4]:
player_df

,Unnamed: 0,id,committingPlayer,disadvantagedPlayer,callType,decision,time,teamInPosession,difficulty,comment
0,0,1535-2110,P.J. Tucker,Nikola Jokic,Foul: Personal,Correct Non-Call,01:59,Nuggets,Observable,Tucker (PHI) and Jokic (DEN) engage and diseng...
1,1,1535-2111,P.J. Tucker,Nikola Jokic,Foul: Personal,Correct Non-Call,01:54,Nuggets,Observable,Tucker (PHI) establishes a legal guarding posi...
2,2,1535-2112,P.J. Tucker,Nikola Jokic,Foul: Shooting,Correct Non-Call,01:52.6,Nuggets,Observable,Tucker (PHI) brings his left arm forward sligh...
3,3,1536-2113,Aaron Gordon,Joel Embiid,Foul: Shooting,Correct Non-Call,01:35.8,76ers,Observable,Gordon (DEN) jumps vertically and incidental b...
4,4,1537-2114,James Harden,Kentavious Caldwell-Pope,Foul: Shooting,Correct Non-Call,01:28.1,Nuggets,Observable,Harden (PHI) legally contests Caldwell-Pope&ap...
...,...,...,...,...,...,...,...,...,...,...
6828,6828,1545-2191,Josh Hart,Kevin Huerter,Foul: Shooting,Correct Non-Call,00:16.5,Kings,Observable,Hart (POR) legally contests Huerter?s (SAC) ju...
6829,6829,1546-2192,De'Aaron Fox,Damian Lillard,Foul: Personal,Correct Call,00:14.1,Trail Blazers,Observable,Fox (SAC) commits a take foul on Lillard (POR).
6830,6830,1547-2193,Jerami Grant,Malik Monk,Foul: Personal,Correct Call,00:11.4,Kings,Observable,Grant (POR) places two hands on Fox (SAC) and ...
6831,6831,1547-2194,Anfernee Simons,Kevin Huerter,Foul: Shooting,Correct Non-Call,00:09.4,Kings,Observable,Simons (POR) maintains a legal guarding positi...
6832,6832,1548-2195,Terence Davis,Jerami Grant,Foul: Personal,Correct Call,00:04.6,Trail Blazers,Observable,Davis (SAC) makes contact to Grant's (POR) arm...

### Exploring Team Data

In [111]:
aggregated_favorable_errors = team_df.groupby("teamName")["errorsInFavor"].sum().sort_values(ascending=False)
aggregated_favorable_errors = aggregated_favorable_errors.to_frame().reset_index()

### Which teams have benefited from the most errors?

In [113]:
aggregated_favorable_errors.head(32)

         teamName  errorsInFavor
0       Mavericks             22
1       Cavaliers             21
2          Lakers             20
3           76ers             20
4          Pacers             19
5            Heat             18
6         Thunder             18
7         Celtics             17
8        Warriors             17
9         Hornets             17
10          Hawks             15
11        Raptors             15
12        Pistons             14
13        Nuggets             14
14         Knicks             14
15          Kings             14
16       Clippers             12
17          Spurs             12
18   Timberwolves             12
19  Trail Blazers             12
20           Nets             11
21          Bulls             11
22      Grizzlies             11
23          Bucks             10
24       Pelicans             10
25          Magic              9
26        Rockets              9
27           Suns              9
28           Jazz              7
29        Wizards              7

In [115]:
victim_teams = team_df.groupby("opponent")["errorsInFavor"].sum().sort_values(ascending=False)
victim_teams = victim_teams.to_frame().reset_index()
victim_teams.rename(columns={"errorsInFavor": "errorsAgainst", "opponent": "teamName"}, inplace=True)

### Which teams have experienced the most incorrect calls go against them?

In [117]:
victim_teams.head(32)

         teamName  errorsAgainst
0       Mavericks             26
1         Nuggets             23
2           Kings             21
3          Pacers             20
4            Heat             17
5           76ers             17
6            Nets             16
7         Hornets             16
8         Celtics             16
9          Knicks             16
10      Cavaliers             16
11   Timberwolves             15
12           Jazz             14
13         Lakers             14
14        Thunder             14
15          Bulls             13
16          Bucks             13
17  Trail Blazers             12
18          Hawks             12
19        Raptors             12
20       Warriors             12
21       Pelicans             11
22        Pistons             11
23          Spurs             11
24           Suns             11
25      Grizzlies              9
26          Magic              9
27       Clippers              7
28        Wizards              7
29        Rockets              6

In [118]:
combined = pd.merge(aggregated_favorable_errors, victim_teams, how="outer", on="teamName")
combined["errorDelta"] = combined["errorsInFavor"] - combined["errorsAgainst"]
combined = combined.sort_values(by="errorDelta").reset_index()
del combined["index"]

### Examining the difference between favorable and unfavorable calls show which teams have experienced the largest delta.

In [119]:
combined.head(32)

         teamName  errorsInFavor  errorsAgainst  errorDelta
0         Nuggets             14             23          -9
1           Kings             14             21          -7
2            Jazz              7             14          -7
3            Nets             11             16          -5
4       Mavericks             22             26          -4
5           Bucks             10             13          -3
6    Timberwolves             12             15          -3
7            Suns              9             11          -2
8           Bulls             11             13          -2
9          Knicks             14             16          -2
10       Pelicans             10             11          -1
11         Pacers             19             20          -1
12  Trail Blazers             12             12           0
13          Magic              9              9           0
14        Wizards              7              7           0
15          Spurs             12             11           1
16           Heat             18             17           1
17        Hornets             17             16           1
18        Celtics             17             16           1
19      Grizzlies             11              9           2
20          76ers             20             17           3
21        Pistons             14             11           3
22        Raptors             15             12           3
23        Rockets              9              6           3
24          Hawks             15             12           3
25        Thunder             18             14           4
26       Clippers             12              7           5
27       Warriors             17             12           5
28      Cavaliers             21             16           5
29         Lakers             20             14           6

In [149]:
combined.to_csv(f"{ROOT_DATA_DIR}/team_errors.csv")

## Exploring Player Data

In [124]:
aggregated_disadvantaged_player_decisions = player_df.loc[player_df["decision"] == "Incorrect Non-Call"].groupby(["disadvantagedPlayer", "decision"])["callType"].count().sort_values(ascending=False)
aggregated_disadvantaged_player_decisions = aggregated_disadvantaged_player_decisions.to_frame().reset_index()
aggregated_disadvantaged_player_decisions.rename(columns={"callType": "callCount"}, inplace=True)

In [135]:
players_only = aggregated_disadvantaged_player_decisions[
    ~aggregated_disadvantaged_player_decisions["disadvantagedPlayer"].isin(NBA_TEAMS)
].reset_index()
teams_only = aggregated_disadvantaged_player_decisions[
    aggregated_disadvantaged_player_decisions["disadvantagedPlayer"].isin(NBA_TEAMS)
]
del players_only["index"]

### The top 50 most disadvantaged players - the players who have had the most Incorrect Non-Calls go against them

In [137]:
players_only.head(50)

         disadvantagedPlayer            decision  callCount
0           Donovan Mitchell  Incorrect Non-Call          6
1               De'Aaron Fox  Incorrect Non-Call          5
2    Shai Gilgeous-Alexander  Incorrect Non-Call          5
3            Lauri Markkanen  Incorrect Non-Call          4
4               Nikola Jokic  Incorrect Non-Call          4
5             Scottie Barnes  Incorrect Non-Call          4
6              DeMar DeRozan  Incorrect Non-Call          4
7          Tyrese Haliburton  Incorrect Non-Call          4
8                Jalen Green  Incorrect Non-Call          3
9                Joel Embiid  Incorrect Non-Call          3
10              Jimmy Butler  Incorrect Non-Call          3
11              Jaylen Brown  Incorrect Non-Call          3
12               Luka Doncic  Incorrect Non-Call          3
13            Keldon Johnson  Incorrect Non-Call          3
14             Jarrett Allen  Incorrect Non-Call          3
15  Kentavious Caldwell-Pope  Incorrect Non-Call          3
16     Giannis Antetokounmpo  Incorrect Non-Call          3
17              Jordan Poole  Incorrect Non-Call          3
18        Bennedict Mathurin  Incorrect Non-Call          3
19            Christian Wood  Incorrect Non-Call          3
20             Kevin Huerter  Incorrect Non-Call          2
21             Julius Randle  Incorrect Non-Call          2
22             Yuta Watanabe  Incorrect Non-Call          2
23        Karl-Anthony Towns  Incorrect Non-Call          2
24            Wenyen Gabriel  Incorrect Non-Call          2
25              Tyrese Maxey  Incorrect Non-Call          2
26              Torrey Craig  Incorrect Non-Call          2
27              Kelly Olynyk  Incorrect Non-Call          2
28          Tim Hardaway Jr.  Incorrect Non-Call          2
29              Kevin Durant  Incorrect Non-Call          2
30         Mitchell Robinson  Incorrect Non-Call          2
31              Terry Rozier  Incorrect Non-Call          2
32         Marcus Morris Sr.  Incorrect Non-Call          2
33              Kyrie Irving  Incorrect Non-Call          2
34         Spencer Dinwiddie  Incorrect Non-Call          2
35              LeBron James  Incorrect Non-Call          2
36             Luguentz Dort  Incorrect Non-Call          2
37            Quentin Grimes  Incorrect Non-Call          2
38            Paolo Banchero  Incorrect Non-Call          2
39           P.J. Washington  Incorrect Non-Call          2
40              Aaron Gordon  Incorrect Non-Call          2
41              Myles Turner  Incorrect Non-Call          2
42            Onyeka Okongwu  Incorrect Non-Call          2
43           Josh Richardson  Incorrect Non-Call          2
44          Domantas Sabonis  Incorrect Non-Call          2
45                 Ja Morant  Incorrect Non-Call          2
46            Darius Garland  Incorrect Non-Call          2
47            Damian Lillard  Incorrect Non-Call          2
48              John Collins  Incorrect Non-Call          2
49               Cory Joseph  Incorrect Non-Call          2

In [150]:
players_only.to_csv(f"{ROOT_DATA_DIR}/player_incorrect_non_calls.csv")

In [145]:
aggregated_committing_player_decisions = player_df.loc[player_df["decision"] == "Incorrect Call"].groupby(["committingPlayer", "decision"])["callType"].count().sort_values(ascending=False)
aggregated_committing_player_decisions = aggregated_committing_player_decisions.to_frame().reset_index()
committing_players_only = aggregated_committing_player_decisions[
    ~aggregated_committing_player_decisions["committingPlayer"].isin(NBA_TEAMS)
].reset_index()
committing_players_only.rename(columns={"callType": "callCount"}, inplace=True)
del committing_players_only["index"]

### The top 50 most disadvantaged players - the players who have had the most Incorrect Calls called against them

In [146]:
committing_players_only.head(50)

           committingPlayer        decision  callCount
0              Jusuf Nurkic  Incorrect Call          2
1              Jimmy Butler  Incorrect Call          2
2   Shai Gilgeous-Alexander  Incorrect Call          2
3         Kenyon Martin Jr.  Incorrect Call          1
4             Klay Thompson  Incorrect Call          1
5           Lauri Markkanen  Incorrect Call          1
6              LeBron James  Incorrect Call          1
7             Mikal Bridges  Incorrect Call          1
8               Paul George  Incorrect Call          1
9                Al Horford  Incorrect Call          1
10               Josh Green  Incorrect Call          1
11        Russell Westbrook  Incorrect Call          1
12                Saben Lee  Incorrect Call          1
13               Saddiq Bey  Incorrect Call          1
14           Scottie Barnes  Incorrect Call          1
15           T.J. McConnell  Incorrect Call          1
16         Tim Hardaway Jr.  Incorrect Call          1
17               Trae Young  Incorrect Call          1
18             Usman Garuba  Incorrect Call          1
19           Reggie Bullock  Incorrect Call          1
20             Jordan Poole  Incorrect Call          1
21          Anthony Edwards  Incorrect Call          1
22              Joel Embiid  Incorrect Call          1
23       Bennedict Mathurin  Incorrect Call          1
24        Bogdan Bogdanovic  Incorrect Call          1
25            Cameron Payne  Incorrect Call          1
26             Caris LeVert  Incorrect Call          1
27           Christian Wood  Incorrect Call          1
28         D'Angelo Russell  Incorrect Call          1
29          Devonte' Graham  Incorrect Call          1
30            Dillon Brooks  Incorrect Call          1
31      Dorian Finney-Smith  Incorrect Call          1
32            Edmond Sumner  Incorrect Call          1
33            Fred VanVleet  Incorrect Call          1
34           Grant Williams  Incorrect Call          1
35            Grayson Allen  Incorrect Call          1
36            Jalen Brunson  Incorrect Call          1
37            Jalen Johnson  Incorrect Call          1
38          Jalen McDaniels  Incorrect Call          1
39             Jerami Grant  Incorrect Call          1
40          Wesley Matthews  Incorrect Call          1

In [151]:
committing_players_only.to_csv(f"{ROOT_DATA_DIR}/player_incorrect_fouls.csv")

### Evaluating Specific Officials & L2M Performance

In [155]:
ref_df.head(5)

,Unnamed: 0,personId,name,nameI,firstName,familyName,jerseyNum,assignment,gameId
0,0,101283,Brian Forte,B. Forte,Brian,Forte,45,NaN,22200741
1,1,101284,John Goble,J. Goble,John,Goble,10,NaN,22200741
2,2,203592,Dedric Taylor,D. Taylor,Dedric,Taylor,21,NaN,22200741
3,3,2004,Courtney Kirkland,C. Kirkland,Courtney,Kirkland,61,NaN,22200743
4,4,201245,Marat Kogut,M. Kogut,Marat,Kogut,32,NaN,22200743

In [201]:
errors = list(zip(team_df.gameId, team_df.errorsInFavor))
error_counts = {game_id: 0 for game_id in team_df.gameId}

for game_id, error_count in errors:
    error_counts[game_id] += error_count
    
ref_errors_df = ref_df.copy(deep=True)
ref_errors_df["errors"] = ref_errors_df["gameId"].map(error_counts)
ref_errors_df = ref_errors_df.groupby("name")["errors"].sum().sort_values(ascending=False)
ref_errors_df = ref_errors_df.to_frame().reset_index()

In [238]:
dates = list(zip(team_df.gameId, team_df.gameDate))
date_lookup = {game_id: game_date for game_id, game_date in dates}

game_dates_df = ref_df.copy(deep=True)
game_dates_df["gameDate"] = game_dates_df["gameId"].map(date_lookup)
game_dates_df.to_csv((f"../data/processed/officiating_errors.csv"))

In [209]:
games_officiated_df = ref_df.copy(deep=True)
games_officiated_df = games_officiated_df.groupby("name")["gameId"].count().sort_values(ascending=False).to_frame().reset_index()
games_officiated_df = games_officiated_df.rename(columns={"gameId": "gameCount"})

In [213]:
combined_officials = pd.merge(ref_errors_df, games_officiated_df, how="outer", on="name")
combined_officials["errorsPerGame"] = combined_officials["errors"] / combined_officials["gameCount"]
combined_officials = combined_officials.sort_values(by="errorsPerGame", ascending=False).reset_index()
del combined_officials["index"]

In [234]:
combined_officials.to_csv(f"{ROOT_DATA_DIR}/officiating_errors.csv")

### Which officials committed the most errors in the last two minutes of NBA games?

In [221]:
ref_errors_df.head()

                  name  errors
0        Dedric Taylor      34
1           Pat Fraher      33
2        David Guthrie      32
3  Gediminas Petraitis      31
4          Jacyn Goble      30

### Which officials have officiated the most games?

In [222]:
games_officiated_df.head()

                  name  gameCount
0          Brian Forte         20
1           Pat Fraher         19
2      Scott Twardoski         18
3  Gediminas Petraitis         18
4       Mitchell Ervin         18

### Which officials are responsible for the most missed calls per game?
> This is a bit misleading, these are 3 person officiating crews, and errors are being assigned to each member of the crew, regardless of if they are the person blowing the whistle.

In [233]:
combined_officials.head()

               name  errors  gameCount  errorsPerGame
0       Jacyn Goble      30         11       2.727273
1  Derek Richardson      10          4       2.500000
2       John Butler      25         10       2.500000
3      Suyash Mehta      14          6       2.333333
4      Natalie Sago      19          9       2.111111

### Combining Ref Performance & Teams

In [281]:
ref_records = ref_df.to_dict("records")
team_records = team_df.to_dict("records")

ref_lookup = {}
for rec in ref_records:
    if rec["gameId"] not in ref_lookup:
        ref_lookup[rec["gameId"]] = []
    ref_lookup[rec["gameId"]].append(rec["name"])

ref_team_records = []
for rec in team_records:
    for official in ref_lookup[rec["gameId"]]:
        local = rec.copy()
        local.update({"name": official})
        ref_team_records.append(local)

ref_team_df = pd.DataFrame(ref_team_records)

In [286]:
ref_help_team_df = ref_team_df.groupby(["name", "teamName"]).sum()["errorsInFavor"].sort_values(ascending=False).to_frame().reset_index()
combined_ref_help_teams_df = pd.merge(ref_help_team_df, combined_officials, how="outer", on="name")
combined_ref_help_teams_df["percentErrorsForTeam"] = combined_ref_help_teams_df["errorsInFavor"] / combined_ref_help_teams_df["errors"] * 100
combined_ref_help_teams_df = combined_ref_help_teams_df.sort_values(by="errorsInFavor", ascending=False).reset_index()
del combined_ref_help_teams_df["index"]
del combined_ref_help_teams_df["errorsPerGame"]
del combined_ref_help_teams_df["gameCount"]
combined_ref_help_teams_df = combined_ref_help_teams_df.rename(columns={"errors": "totalErrors"})

In [287]:
ref_harm_team_df = ref_team_df.groupby(["name", "opponent"]).sum()["errorsInFavor"].sort_values(ascending=False).to_frame().reset_index()
combined_ref_harm_teams_df = pd.merge(ref_harm_team_df, combined_officials, how="outer", on="name")
combined_ref_harm_teams_df["percentErrorsAgainstTeam"] = combined_ref_harm_teams_df["errorsInFavor"] / combined_ref_harm_teams_df["errors"] * 100
combined_ref_harm_teams_df = combined_ref_harm_teams_df.sort_values(by="errorsInFavor", ascending=False).reset_index()
del combined_ref_harm_teams_df["index"]
del combined_ref_harm_teams_df["errorsPerGame"]
del combined_ref_harm_teams_df["gameCount"]
combined_ref_harm_teams_df = combined_ref_harm_teams_df.rename(columns={"errors": "totalErrors", "errorsInFavor": "errorsAgainst"})

### Individual Referee Impact on a Team Basis - Do referees favor certain teams?

In [288]:
combined_ref_help_teams_df.head(15)

,name,teamName,errorsInFavor,totalErrors,percentErrorsForTeam
0,Jacyn Goble,76ers,9,30,30.000000
1,Phenizee Ransom,76ers,7,17,41.176471
2,Lauren Holtkamp,Kings,7,28,25.000000
3,Karl Lane,Cavaliers,7,22,31.818182
4,Gediminas Petraitis,Hornets,6,31,19.354839
5,Brent Barnaky,Celtics,6,22,27.272727
6,Rodney Mott,Celtics,6,20,30.000000
7,Matt Boland,Lakers,5,25,20.000000
8,Tre Maddox,Lakers,5,15,33.333333
9,Josh Tiven,Lakers,5,30,16.666667
10,Ben Taylor,Pacers,5,28,17.857143
11,Scott Twardoski,Mavericks,5,29,17.241379
12,Scott Wall,Knicks,5,19,26.315789
13,Matt Myers,Thunder,5,20,25.000000
14,Courtney Kirkland,76ers,5,21,23.809524

### Individual Referee Impact on a Team Basis - Do referees dislike certain teams?

In [289]:
combined_ref_harm_teams_df.head(15)

,name,opponent,errorsAgainst,totalErrors,percentErrorsAgainstTeam
0,David Guthrie,Warriors,7,32,21.875000
1,Tre Maddox,Mavericks,6,15,40.000000
2,Josh Tiven,76ers,6,30,20.000000
3,Sean Wright,Nuggets,6,19,31.578947
4,Sean Corbin,Nuggets,6,25,24.000000
5,Brent Barnaky,Warriors,5,22,22.727273
6,Josh Tiven,Mavericks,5,30,16.666667
7,Suyash Mehta,Mavericks,5,14,35.714286
8,Ben Taylor,Pacers,5,28,17.857143
9,Ed Malloy,Thunder,5,16,31.250000
10,Courtney Kirkland,Pacers,5,21,23.809524
11,Jacyn Goble,Pacers,5,30,16.666667
12,Phenizee Ransom,Pacers,5,17,29.411765
13,Pat Fraher,Kings,5,33,15.151515
14,Pat Fraher,76ers,5,33,15.151515